.left-rail {
  background-color: #fbfbfb;
  text-align: left;
  flex-grow: 0;
  flex-basis:200px;
  padding: 10px;
  order: 1;
  border: 1px solid #efefef;
}

.left-rail a.new-note {
  margin: 5px;
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #fefefe;
  display: block;
}

.left-rail div.date {
  color: #5b5b5b;
}

.left-rail a {
  color: #5b5b5b;
  text-decoration: none;
  font-size: .8rem;
}

.left-rail ul {
  list-style: none;
  margin: 0;
  padding: 2px;
}

.left-rail li {
  padding: 10px 5px;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px solid #efefef;
}

.left-rail li.active {
  background: rgba(96, 255, 82, 0.32);
}