.left-rail {
  background-color: #fbfbfb;
  text-align: left;
  flex-grow: 0;
  flex-basis:200px;
  padding: 10px;
  order: 1;
  border: 1px solid #efefef;
}

.left-rail div.date {
  color: #5b5b5b;
}

.left-rail li > a {
  color: #5b5b5b;
  text-decoration: none;
  font-size: .8rem;
}

.left-rail ul {
  list-style: none;
  margin: 0;
  padding: 2px;
}

.left-rail li {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px solid #efefef;
  border-radius: 2px;
}

.left-rail li.active {
  background: rgba(196, 254, 191, 0.32);
  background: linear-gradient(to bottom, rgba(196, 254, 191, 0.32) 0%, rgba(196, 254, 191, 0.6) 50%, rgb(196, 254, 191) 100%);
}
.left-rail .pull-right {
  float: right;
}

.left-rail .close {
  visibility: hidden;
  cursor: pointer;
}

.left-rail li:hover .close {
  visibility: visible;
}

.left-rail a.btn, .left-rail a.btn:visited, .left-rail a.btn:link {
  text-align: center;
  border-radius: .3em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  font-family: avenir,helvetica,arial,sans-serif;
  letter-spacing: .15em;
  margin-bottom: .5em;
  padding: 1em .75em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .4s,background-color .4s,border .4s;
  font-size: .8rem;
  display: block;
}

.left-rail a.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  transition: background-color .3s,color .3s,border .3s;
}

.left-rail a.btn:hover, .left-rail a.btn:focus {
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  transition: background-color .3s,color .3s,border .3s;
}
