<div class="left-rail auto-heighter">
  <button v-on:click="addNewNote">New Note</button>
  <ul id="note-list">
      <li v-for="note in notesList">
        <a href="#" v-on:click="loadNote" :v-id='{{ note.id }}'></a>
        {{ note.title }}
      </li>
    </a>
   </ul>
</div>