<div class="left-rail auto-heighter">
  <a href="#" class="new-note btn" v-on:click="addNewNote">New Note</a>

  <ul class="list-group">
    <li
      is="note-item"
      v-for="note in notesList"
      :key="note.id"
      :note="note"
    ></li>
  </ul>
</div>
