<div class="left-rail auto-heighter">
  <!-- <button v-on:click="addNewNote">New Note</button> -->
  <ul id="note-list">
<!--     <li v-for="note in notes">
      {{ note.title }}
    </li>
 -->  </ul>
</div>