<div class="left-rail auto-heighter">
  <button v-on:click="addNewNote">New Note</button>
  <ul id="note-list">
    <li v-for="note in notesList">
      <a href="#" :data-note-id="note.id" v-on:click="loadNote">
        {{ note.id }}
      </a>
    </li>
   </ul>
</div>
