nav {
  width: 100%;
  padding: 10px;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  font-size: 14px;
  line-height: 20px;
  color: ##4e4e4e;
  background: #eeeeee;
}

nav a {
  color: #333333;
  text-decoration: none;
}

nav a.github {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 20px;
  margin-top: 2px;
  background-image: url(../assets/images/github.png);
  background-size: cover;
}
