<nav>
  <a class="brand" href="/">MG Editor</a>
  <a class="github" href="https://github.com/markgandolfo/MG-Editor">
    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" />
  </a>
</nav>
