@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../lib/variables.css';
@import './Navbar/Navbar';
@import './LeftRail/LeftRail';
@import './RightRail/RightRail';
@import './MainContent/MainContent';
@import '../../node_modules/sweetalert/dist/sweetalert.css';
@import './LoadingScreen/LoadingScreen';

main {
  display: flex;
  overflow: hidden;
  color: var(--font-color);
  border: 1px solid #333;
  align-items: center;
  line-height: 1.5rem;
}

main a {
  color: #5777e1;
}

input:focus, textarea:focus {
  outline: none;
}

.handle {
  border: 1px dotted #ccc;
  cursor: col-resize;;
}
