@import '../lib/variables.css';
@import './Navbar/Navbar';
@import './LeftRail/LeftRail';
@import './RightRail/RightRail';
@import './MainContent/MainContent';

@import '../../node_modules/sweetalert/dist/sweetalert.css';

main {
  display: flex;
  overflow: hidden;
  color: #424242;
  border: 1px solid #333;
  align-items: center;
}
