<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Next Gen Editor" />
    <meta name="format-detection" content="telephone=no" />

    <title>MG Editor</title>
  </head>

  <body class="type-body">
    <div id="main-content">
      <% include components/LoadingScreen/LoadingScreen %>
      <navbar></navbar>

      <main role="main">
        <left-rail></left-rail>
        <column-resizer grow-direction="left"></column-resizer>
        <markdown-editor></markdown-editor>
        <column-resizer grow-direction="right"></column-resizer>
        <markdown-preview></markdown-preview>
      </main>

      <% include components/Analytics/Analytics %>
    </div>
  </body>
</html>
