.main-content {
  background: var(--main-background);
  font-family: var(--technical-font);
  color: var(--font-color);
  border: 1px solid #efefef;
  text-align: left;
  flex-grow: 1;
  color: black;
  padding: 10px;
  order: 3;

  font-size: .9rem;
  line-height: 1.5rem;
}
